fileoperationBusiness/src/main/xsd/FileOperation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2010 (http://www.altova.com) by MESMERiZE (MiZE) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xmime="http://www.w3.org/2005/05/xmlmime" xmlns="it.eng.fileoperation.ws" xmlns:bs="it.eng.fileoperation.ws.base" xmlns:ns1="it.eng.fileoperation.ws.timbro" targetNamespace="it.eng.fileoperation.ws" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import namespace="it.eng.fileoperation.ws.base" schemaLocation="base.xsd"/>
	<xs:import namespace="it.eng.fileoperation.ws.timbro" schemaLocation="timbroOperation.xsd"/>
	<xs:element name="fileOperation">
		<xs:annotation>
			<xs:documentation>root input tag per la request</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="fileOperationInput" type="InputFileOperationType"/>
				<xs:element ref="operations"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="InputFileOperationType">
		<xs:annotation>
			<xs:documentation>raccoglie gli input generali non specifici per l'operation, ovvero il file, la marca etc.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="inputType" type="InputFile"/>
			<xs:element name="timeStampFile" type="InputFile" minOccurs="0"/>
			<xs:element name="originalName" type="xs:string" minOccurs="0"/>
			<xs:element name="timeStampReference" type="xs:dateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>rif temporale da usare per  la verifica delle firme</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="InputFile">
		<xs:annotation>
			<xs:documentation>possibili modi per descrive il file di input</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element name="fileStream" type="xs:base64Binary" xmime:expectedContentTypes="application/octet-stream"/>
			<xs:element name="fileUrl" type="xs:anyURI"/>
			<xs:element name="other" type="xs:string"/>
		</xs:choice>
	</xs:complexType>
	<xs:element name="response">
		<xs:annotation>
			<xs:documentation>root tag per la response</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:choice>
				<xs:element name="genericError" minOccurs="0">
					<xs:annotation>
						<xs:documentation>errore generico </xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence maxOccurs="unbounded">
							<xs:element name="errorMessage" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="fileoperationResponse">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="fileOperationResults">
								<xs:annotation>
									<xs:documentation>elenco deli risultati delle singole operazioni</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence maxOccurs="unbounded">
										<xs:element name="fileOperationResult" type="bs:AbstractResponseOperationType">
											<xs:annotation>
												<xs:documentation>risultato della singola operazione</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="fileResult" type="xs:base64Binary" minOccurs="0" xmime:expectedContentTypes="application/octet-stream">
								<xs:annotation>
									<xs:documentation>file di risposta</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="ResponseFormatRecognitionType">
		<xs:annotation>
			<xs:documentation>risposta per il riconoscimento formato</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="bs:AbstractResponseOperationType">
				<xs:sequence>
					<xs:element name="mimeType" type="xs:string" minOccurs="0"/>
					<xs:element name="datiFormato" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="idFormato" type="xs:string"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="datiFormatiInterni" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="mimeType" type="xs:string" maxOccurs="unbounded"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="newFileName" type="xs:string" minOccurs="0"/>
					<xs:element name="pdfConversion" type="xs:boolean" minOccurs="0"/>
					<xs:element name="signConversion" type="xs:boolean" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ResponseUnpackMultipartType">
		<xs:annotation>
			<xs:documentation>risposta per il servizio di unpack multipart</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="bs:AbstractResponseOperationType">
				<xs:sequence>
					<xs:element name="multipartMimeType" type="xs:string" minOccurs="0"/>
					<xs:element name="multipartContents" minOccurs="1">
						<xs:complexType>
							<xs:sequence minOccurs="0" maxOccurs="unbounded">
								<xs:element name="multipartContent" type="MultipartContentType"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MultipartContentType">
		<xs:annotation>
			<xs:documentation>Tipo per descrivere un file contenuto in un archivio o un allegato di una email</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="path" type="xs:string" minOccurs="1"/>
			<xs:element name="nome" type="xs:string" minOccurs="1"/>
			<xs:element name="mimeType" type="xs:string" minOccurs="1"/>
			<xs:element name="error" type="xs:string" minOccurs="0"/>
			<xs:sequence minOccurs="0" maxOccurs="unbounded">
				<xs:element name="multipartContent" type="MultipartContentType"/>
			</xs:sequence>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ResponseUnpackType">
		<xs:annotation>
			<xs:documentation>risposta per l'operazione di sbustamento</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="bs:AbstractResponseOperationType">
				<xs:sequence>
					<xs:element name="nomeFileSbustato" type="xs:string" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ResponsePdfConvResultType">
		<xs:annotation>
			<xs:documentation>risposta con i dati della conv PDF</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="bs:AbstractResponseOperationType"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ResponseFileDigestType">
		<xs:annotation>
			<xs:documentation> risposta all'operazione di digest</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="bs:AbstractResponseOperationType">
				<xs:sequence>
					<xs:element name="digestAlgId" type="DigestAlgID" minOccurs="0"/>
					<xs:element name="encoding" type="DigestEncID" minOccurs="0"/>
					<xs:element name="result" type="xs:string" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ResponseFileDigestUnpackType">
		<xs:annotation>
			<xs:documentation> risposta all'operazione di digest sbustato</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="ResponseFileDigestType"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ResponseFileCompressType">
		<xs:annotation>
			<xs:documentation> risposta all'operazione di compressione file pdf</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="bs:AbstractResponseOperationType"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="InputDigestType">
		<xs:annotation>
			<xs:documentation>input per il calcolo del digest</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="bs:AbstractInputOperationType">
				<xs:sequence minOccurs="0">
					<xs:element name="digestAlgId" type="DigestAlgID"/>
					<xs:element name="encoding" type="DigestEncID"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="DigestAlgID">
		<xs:annotation>
			<xs:documentation>possibili algoritmi di digest</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="crc-32"/>
			<xs:enumeration value="sha-1"/>
			<xs:enumeration value="sha-256"/>
			<xs:enumeration value="md5"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DigestEncID">
		<xs:annotation>
			<xs:documentation>possibili codifiche del digest </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="hex"/>
			<xs:enumeration value="base64"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="InputFormatRecognitionType">
		<xs:annotation>
			<xs:documentation>input custom per i riconoscimento formato</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="bs:AbstractInputOperationType">
				<xs:sequence>
					<xs:element name="recursive" type="xs:boolean" minOccurs="0" default="false">
						<xs:annotation>
							<xs:documentation>indica se si vuole effettuare l'operazione anche per i tipi contenuti in archivi o mail</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="abilitaSbustamento" type="xs:boolean" minOccurs="0" default="true">
						<xs:annotation>
							<xs:documentation>indica se si vuole effettuare l'operazione di sbustamento sui file firmati</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>	
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="InputUnpackType">
		<xs:complexContent>
			<xs:extension base="bs:AbstractInputOperationType">
				<xs:sequence>
					<xs:element name="abilitaNomeSbustato" type="xs:boolean" minOccurs="0" default="false">
						<xs:annotation>
							<xs:documentation>indica se si vuole ottenere in output il nome del file sbustato</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>	
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="InputUnpackMultipartType">
		<xs:complexContent>
			<xs:extension base="bs:AbstractInputOperationType">
				<xs:sequence>
					<xs:element name="recursive" type="xs:boolean" minOccurs="0" default="true">
						<xs:annotation>
							<xs:documentation>indica se si vuole ripetere ricorsivamente l'operazione di unpack</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="abilitaSbustamento" type="xs:boolean" minOccurs="0" default="true">
						<xs:annotation>
							<xs:documentation>indica se si vuole effettuare l'operazione di sbustamento sui file firmati</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="unpackPath" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>indica il path in cui effettuare l'operazione di unpack</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>	
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="InputUnpackDigestType">
		<xs:complexContent>
			<xs:extension base="InputDigestType"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="InputConversionType">
		<xs:annotation>
			<xs:documentation>input per la conversione di formato al momento solo pdf</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="bs:AbstractInputOperationType">
				<xs:sequence>
					<xs:element name="pdfA" type="xs:boolean" minOccurs="0" default="false">
						<xs:annotation>
							<xs:documentation>indica se si vuole il risultato in pdf/A</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="signConversion" type="xs:boolean" minOccurs="0" default="false">
						<xs:annotation>
							<xs:documentation>indica se si tratta di conversione per firma</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="InputSigVerifyType">
		<xs:complexContent>
			<xs:extension base="bs:AbstractInputOperationType">
				<xs:sequence>
					<xs:element name="dataRif" type="xs:dateTime" minOccurs="0"/>
					<xs:element name="recursive" type="xs:boolean" default="true" minOccurs="0"/>
					<xs:element name="childValidation" type="xs:boolean" default="false" minOccurs="0"/>
					<xs:element name="signatureVerify" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="CRLCheck" type="xs:boolean" default="true"/>
								<xs:element name="CAReliability" type="xs:boolean" default="true"/>
								<xs:element name="detectCode" type="xs:boolean"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="TimestampVerifiy" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="TSAReliability" type="xs:boolean"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ResponseSigVerify">
		<xs:annotation>
			<xs:documentation>risposta all'operazione di verifica, lo stato e gli errori riportati sono complessivi di tutte el verifiche effettuate, i risultati delle singole verifiche sono riportati nel tag sigVerifyResult</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="bs:AbstractResponseOperationType">
				<xs:sequence>
					<xs:element name="sigVerifyResult" type="SigVerifyResultType"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="InputCodeDetectorType">
		<xs:complexContent>
			<xs:extension base="bs:AbstractInputOperationType"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ResponseCodeDetector">
		<xs:complexContent>
			<xs:extension base="bs:AbstractResponseOperationType"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SigVerifyResultType">
		<xs:complexContent>
		<xs:extension base="bs:AbstractResponseOperationType">
		<xs:choice>
			<xs:element name="SigVerifyResult" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="formatResult" minOccurs="0">
							<xs:annotation>
								<xs:documentation>risposta alla validazione di formato</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:complexContent>
									<xs:extension base="bs:AbstractResponseOperationType">
										<xs:sequence>
											<xs:element name="envelopeFormat" type="xs:string"/>
										</xs:sequence>
									</xs:extension>
								</xs:complexContent>
							</xs:complexType>
						</xs:element>
						<xs:element name="SignatureValResult" type="bs:AbstractResponseOperationType" minOccurs="0">
							<xs:annotation>
								<xs:documentation>risultato validazione firme apposte sul doc</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="CertExpirationResult" type="bs:AbstractResponseOperationType" minOccurs="0">
							<xs:annotation>
								<xs:documentation>risultato expiration certificati</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="CRLResult" type="bs:AbstractResponseOperationType" minOccurs="0">
							<xs:annotation>
								<xs:documentation>risultato test di revoca dei certificati</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="CAReliabilityResult" type="bs:AbstractResponseOperationType" minOccurs="0">
							<xs:annotation>
								<xs:documentation>risultato sull'affidabilità dei certificatori emittenti</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="DetectionCodeResult" type="bs:AbstractResponseOperationType" minOccurs="0"/>
						<xs:element name="timestampVerificationResult" minOccurs="0">
							<xs:annotation>
								<xs:documentation>risultato verifiche sui timestamp trovati</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence maxOccurs="unbounded">
									<xs:element name="timeStampInfo" type="TimeStampInfotype" minOccurs="0">
										<xs:annotation>
											<xs:documentation>info relative al timestamp</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="child" type="SigVerifyResultType" minOccurs="0"/>
						<xs:element name="signerInformations" minOccurs="0">
							<xs:annotation>
								<xs:documentation>informazioni sulle firme</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence minOccurs="0" maxOccurs="unbounded">
									<xs:element name="signerInformation" type="signerInformationType">
										<xs:annotation>
											<xs:documentation>informazioni sulla singola firma</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="message" type="bs:messageType"/>
		</xs:choice>	
		</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="TimeStampInfotype">
		<xs:annotation>
			<xs:documentation> tipo per contenere le info relative ad una marca, tipo di busta che contiene la marca, info di validazione, algoritmo, etc.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="bs:AbstractResponseOperationType">
				<xs:sequence>
					<xs:element name="hashAlgOID" type="xs:string"/>
					<xs:element name="dateMillisec" type="xs:string">
						<xs:annotation>
							<xs:documentation>somma della data di riferimento temporale e il massimo scostamento in millisecondi contenuto nella marca</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="date" type="xs:date">
						<xs:annotation>
							<xs:documentation>Data del riferimento temporale</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="format" type="bs:EnvelopeType">
						<xs:annotation>
							<xs:documentation>formato della busta che contiene il riferimento temporale</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="tsaInfo">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="tsaName" type="xs:string"/>
								<xs:element name="reliable" type="xs:boolean">
									<xs:annotation>
										<xs:documentation>indica se è affidabile</xs:documentation>
									</xs:annotation>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="signerInformationType">
		<xs:annotation>
			<xs:documentation> tipo per contenere le info relative ad una firma</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="SigVerifyResultType">
				<xs:sequence>
					<xs:element name="signingTime" type="xs:dateTime" minOccurs="0"/>
					<xs:element name="certificato">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="contenuto" type="xs:base64Binary"/>
								<xs:element name="dataDecorrenza" type="xs:dateTime" minOccurs="0"/>
								<xs:element name="dataScadenza" type="xs:dateTime" minOccurs="0"/>
								<xs:element name="subject" type="dnType" minOccurs="0"/>
								<xs:element name="issuer" type="dnType" minOccurs="0"/>
								<xs:element name="qcStatements" type="qcStatements" minOccurs="0"/>
								<xs:element name="keyUsages" type="keyUsages" minOccurs="0"/>
								<xs:element name="serialNumber" type="xs:string" minOccurs="0"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="marca" minOccurs="0">
						<xs:complexType>
							<xs:complexContent>
								<xs:extension base="bs:AbstractResponseOperationType">
									<xs:sequence>
										<xs:element name="contenuto" type="xs:base64Binary"/>
										<xs:element name="tsaName" type="xs:string" minOccurs="0"/>
										<xs:element name="serialNumber" type="xs:string" minOccurs="0"/>
										<xs:element name="date" type="xs:dateTime" minOccurs="0"/>
										<xs:element name="policy" type="xs:string" minOccurs="0"/>
									</xs:sequence>
								</xs:extension>
							</xs:complexContent>
						</xs:complexType>   
					</xs:element>	
					<xs:element name="controFirma" type="signerInformationType" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="dnType">
		<xs:sequence>
			<xs:element name="name" type="xs:string" minOccurs="0"/>
			<xs:element name="cn" type="xs:string" minOccurs="0"/>
			<xs:element name="ou" type="xs:string" minOccurs="0"/>
			<xs:element name="o" type="xs:string" minOccurs="0"/>
			<xs:element name="c" type="xs:string" minOccurs="0"/>
			<xs:element name="dn" type="xs:string" minOccurs="0"/>
			<xs:element name="serialNumber" type="xs:string" minOccurs="0"/>
			<xs:element name="givenName" type="xs:string" minOccurs="0"/>
			<xs:element name="surname" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="qcStatements">
		<xs:sequence>
			<xs:element name="qcStatement" type="xs:string" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="keyUsages">
		<xs:sequence>
			<xs:element name="keyUsage" type="xs:string" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="operations">
		<xs:complexType>
			<xs:sequence maxOccurs="unbounded">
				<xs:element name="operation" type="bs:AbstractInputOperationType">
					<xs:annotation>
						<xs:documentation>dati di ingresso per la specifica operazione</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="InputFileCompressType">
		<xs:annotation>
			<xs:documentation>input per la compressione pdf</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="bs:AbstractInputOperationType"/>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
